<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thewskilla.tgmapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_round"
        android:label="@string/home_page"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home_Screen.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Splash_Screen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_SignUp_Screen.LoginScreen" />
        <activity android:name=".Login_SignUp_Screen.SignUpScreen" />
        <activity android:name=".Home_Screen.Programs" />
        <activity android:name=".Home_Screen.Skills" />
        <activity android:name=".Home_Screen.Daily" />
        <activity android:name=".Programs_Screen.Beginner_workout" />
        <activity android:name=".Intermediate_workout" />
        <activity android:name=".Advance_workout" />
        <activity android:name=".Weighted_workout" />
    </application>

</manifest>